<div class="container">
  <div class="nav-bar">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/page">My Page</a></li>
      <li id="user-header">{{ user.username}}, you are logged in! <a href="/logout">Logout</a></li>
    </ul>
  </div>
  <div class="center-content">
    <h1>Welcome to your Iron Hack </h1> 
    <h1>food blog!</h1>
    <h2>From here you can create a new Food Blog!</h2>
  </div>
</div>