{{#if user}}
<div class="container">
  <div class="nav-bar">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/page">My Page</a></li>
      <li id="user-header">{{ user.username}}, you are logged in! <a href="/logout">Logout</a></li>
      
    </ul>
  </div>
  <div class="center-content">
    <h1>Hi <span style="color: red;">{{ user.username}}</span></h1>
    <h2>You have made it! </h2>
    <img src="https://media.giphy.com/media/A7GowSMfBhq6Y/giphy.gif" alt="You rock.">
  </div>
</div>
{{/if}}